.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  height: 72px;
}
.navigation ul{
  display: flex;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;
}
img{
  width: 70px;
}